.quiz-container {
    width: 90%;
    
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.quiz-title {
    text-align: center;
    margin-bottom: 100px;
}

.quiz-card {
    
    background-color: #f9f9f9;
    padding: 100px;
    align-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.quiz-question {
    
    font-size: 18px;
    margin-bottom: 70px;
}

.quiz-options-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: space-around; /* Space out the options */
}

.quiz-option {
    display: flex;
    align-items: center; /* Center the radio button and text vertically */
    width: 48%; /* Adjust width to fit two options per row */
    margin: 5px 0; /* Maintain vertical spacing */
    margin-bottom: 20px;
}


.quiz-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.quiz-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quiz-button-prev {
    background-color: #6c757d;
    color: white;
}

.quiz-button-next, .quiz-button-submit {
    background-color: #007bff;
    color: white;
}

/* Timer styling */
.quiz-timer {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px; /* Increase size for better alignment */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-timer-warning .quiz-timer-circle-fg {
    stroke: red;
}

.quiz-timer-circle {
    transform: rotate(-90deg);
}

.quiz-timer-circle-bg {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 4;
}

.quiz-timer-circle-fg {
    fill: none;
    stroke: green;
    stroke-width: 4;
    stroke-dasharray: 126;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
}

.quiz-timer-text {
    position: absolute;
    top: 18px;
    left: 18px; /* Adjust to center the text inside the circle */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.completed-quiz-certificate {
    
    height: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.completed-quiz-certificate p {
    text-align: center;
    padding: 25px;
}

.completed-certificate-button {
    background-color: gold;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    width: 150px; /* Set a small width for the button */
    margin: auto; /* Center the button */
}
.quiz-result-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

